.container {
  padding: 1em 0;
}

.post {
  padding: 1em;
}

.post-image {
  width: 100%;
  height: 232px;
  object-fit: cover;
  border-radius: 0.5em;
  margin: 2em 0 0 0;
}

.post-date {
  display: block;
  font-size: 0.8em;
  padding: 0.8em 0;
}

.post-title {
  font-size: 1.5em;
  line-height: 108.2%;
  color: #141414;
  padding: 0 0 0.5em 0;
}

.post-header {
  font-size: 1em;
  color: #141414;
  padding: 1em 0 1.5em 0;
}

.post-discription {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #111111;
}

.recent-posts {
  font-weight: 700;
  font-size: 1em;
  line-height: 1.5em;
  text-align: center;
  color: #000000;
  padding: 2.2em 0 0.7em 0;
  grid-column: 1/-1;
  cursor: pointer;
}

@media (min-width: 650px) {
  header {
    padding: 1em 3em;
  }

  .container {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    padding: 2.5em;
    background-color: #fafafa;
  }

  .hero-post {
    grid-column: 1 / -1;
    padding: 0 5em;
  }

  .post-image {
    width: 110%;
    height: 488px;
    object-fit: cover;
    display: block;
    margin-left: -3em;
  }

  .post-title {
    padding: 0.5em 0;
  }

  .post-header {
    padding-top: 2em;
  }

  .recent-posts {
    padding-top: 3em;
  }
}
